html, body
{
	margin:0;
    padding:0;
    height:100%;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
	display: flex;
    flex-direction: column;
}

.logo{
	width: 80%;
	height: 90px;
	border-bottom: 1px solid rgba(204,204,204,0.9);
	margin-left: auto;
	margin-right: auto;
}

.title{
	float: left;
	font-size: 60px;
}

.container{
	flex: 1 0 auto;
}

.main{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 1px solid rgba(204,204,204,0.9);
	text-align: center;
}

.footer{
    flex-shrink: 0;
	width: 100%;
	height: 80px;
	margin-top: 200px;
	background-color: black;
}

.footerText{
	color: white;
	font-size: 15px;
	position: relative;
	float: left;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.course{
	margin: auto;
	width: 60%;
	border-bottom: 1px solid rgba(204,204,204,0.9);
}

.course:last-child{
	margin-bottom: 50px;
	border-bottom: none;
}

.info{
	margin-bottom: 50px;
}

.courseName{
	padding: 20px 10px 5px 10px;
	font-size: 15px;
	float:left;
	width: 30%;
	text-align: center;
	min-height: 60px;
	border-right: 3px solid rgba(204,204,204,0.9);
}

.courseDescription{
	float: left;
	text-align: center;
	padding: 20px 10px 5px 15px;
	width: 55%;
	font-size: 15px;
	text-align: left;
	min-height: 60px;
}

.menu{
	float:right;
	width: 50%;
	margin-bottom: 20px;
}

.menuButton{
	float:right;
	width: 100px;
	font-size:15px;
	padding: 15px 0px;
	margin-top: 20px;
	outline: none;
	border: none;
	text-align: center;
	background-color: #FFF;
}

.menuButton:hover{
	color: #ff7626;
	cursor: pointer;
}

.menuButton:first-child{
	cursor: default;
}

.menuButton:first-child:hover{
	cursor: default;
	color: #000;
}

.menuInfo{
	float:right;
	width: 130px;
	font-size:15px;
	padding: 15px 5px;
	margin-top: 20px;
	outline: none;
	border: none;
	text-align: center;
	color: #ff7626;
}

.menuInfo:hover{
	cursor: default;
}

.logout{
	float:right;
	width: 120px;
	background-color: #ff7626;
	font-size:15px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.logout:focus{
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

.logout:hover{
	background-color: #ff8737;
}

.registerPresenceButton{
	border: 2px solid #f04141;
	background-color: #FFC7C7;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	color: #f04141;
	font-size: 25px;
	float: right;
	cursor: pointer;
}

.disabledPresenceButton{
	border: 2px solid #808080;
	background-color: #CCC;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	color: #808080;
	font-size: 25px;
	float: right;
	cursor: default;
}

.registeredPresensceLabel{
	border: 2px solid #00c809;
	background-color: #D8F2CF;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	color: #00c809;
	font-size: 25px;
	float: right;
}

.bigButton{
	width: 200px;
	background-color: #ff7626;
	font-size:15px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
	margin: 2% 5% 5% 5%;
}

.bigButton:focus{
	box-shadow: 0px 0px 15px 5px rgba(204,204,204,0.9);
}

.bigButton:hover{
	background-color: #ff8737;
}
